In [2]:
#We cover here
#1. variables, objects and types
#2. Lists
#3. Functions -- some available functions in Python
#4. Packages
#5. Arrays

In [3]:
#1. Variables, objects and types
# # Python as a calculater
# to run a comand you can press shift enter

In [4]:
4+4

8

In [5]:
x= 5+8  # this creates a variable x equal  5 plus 7 
print(x) # this prints x

13

In [6]:
print(x)

13

In [7]:
type(x)

int

In [8]:
print(5)

5

In [9]:
x= 5*7  # this creates a variable x equal  5 plus 7 
print(x)

35

In [10]:
type(7/2)

float

In [11]:
sqrt_2 = 2**0.5
sqrt_2

1.4142135623730951

In [12]:
print(2**0.5) # calculates and prints square root of 2

1.4142135623730951

In [13]:
name1= 'Fordham'
name2 = 'University'
name1 + name2

'FordhamUniversity'

In [14]:
print( name1+' '+ name2)

Fordham University

In [15]:
type(name1)

str

In [16]:
## Note that the operation + applies differntly on float/integer or string

In [17]:
deposit = 1000
r = 0.0718
t= 10
terminal_value = deposit*(1+r)**t
terminal_value

2000.4952617632998

In [18]:
TV= int(terminal_value)
TV

2000

In [19]:
print ( 'Terminal Value =' + str(TV))

Terminal Value =2000

In [20]:
print ( 'Terminal Value =' + str(TV))

Terminal Value =2000

In [21]:
print ( 'Terminal Value =' + str(TV))

Terminal Value =2000

In [22]:
#We can transfprm a float/integer variable using str()

In [23]:
a = '125'
b = '25'

In [24]:
int(a) / int(b)

5.0

In [25]:
float(a)/float(b)

5.0

In [26]:
## 2.0 List Example

In [27]:
numbers= [1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

In [28]:
numbers= [1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

In [29]:
names=['John' , 'Jack' , 'Kevin', 'Jay']
names

['John', 'Jack', 'Kevin', 'Jay']

In [30]:
List2= numbers + names
List2

[1, 2, 3, 4, 5, 'John', 'Jack', 'Kevin', 'Jay']

In [31]:
List2= numbers + names
List2

[1, 2, 3, 4, 5, 'John', 'Jack', 'Kevin', 'Jay']

In [32]:
LL = [[1,'John'],[2,'Jack'],[3,'Kevin'], [4,'Jay']]
LL

[[1, 'John'], [2, 'Jack'], [3, 'Kevin'], [4, 'Jay']]

In [33]:
type(LL)

list

In [34]:
## Notice the use of square brackets. A name of a lsit can be a list itself

In [35]:
##To select an ellement from the list we use the list index which starts from 0

In [36]:
numbers[0]

1

In [37]:
numbers[-1]

5

In [38]:
# Slicing

In [39]:
List2[0:3]

[1, 2, 3]

In [40]:
List2[-3:-1]

['Jack', 'Kevin']

In [41]:
List2[-3:-1]

['Jack', 'Kevin']

In [42]:
LL[:2]

[[1, 'John'], [2, 'Jack']]

In [43]:
#Subsetting a list of lists

In [44]:
LL

[[1, 'John'], [2, 'Jack'], [3, 'Kevin'], [4, 'Jay']]

In [45]:
LL[2]

[3, 'Kevin']

In [46]:
LL[2:]

[[3, 'Kevin'], [4, 'Jay']]

In [47]:
LL[2][1]  ## picks the second element from the third sublist

'Kevin'

In [48]:
# Change list ellements

In [49]:
LL

[[1, 'John'], [2, 'Jack'], [3, 'Kevin'], [4, 'Jay']]

In [50]:
LL[2]=[10,'Sam']
LL

[[1, 'John'], [2, 'Jack'], [10, 'Sam'], [4, 'Jay']]

In [51]:
LL[1][0] = 100
LL

[[1, 'John'], [100, 'Jack'], [10, 'Sam'], [4, 'Jay']]

In [52]:
new = [3, 'Jonathan']
LLL = LL + new
LLL

[[1, 'John'], [100, 'Jack'], [10, 'Sam'], [4, 'Jay'], 3, 'Jonathan']

In [53]:
#Delete Elements

In [54]:
del(LLL[2])
LLL

[[1, 'John'], [100, 'Jack'], [4, 'Jay'], 3, 'Jonathan']

In [55]:
#List Copies

In [56]:
x= [1,2,3,4, 5]
x

[1, 2, 3, 4, 5]

In [57]:
# Create a copy
y=x
y

[1, 2, 3, 4, 5]

In [58]:
## Chane one element in x
x[-2]=100
x

[1, 2, 3, 100, 5]

In [59]:
y

[1, 2, 3, 100, 5]

In [60]:
## If you want to create a new list and not a copy, use this

In [61]:
x= [1,2,3,4, 5]

In [62]:
y1=list(x)
y1

[1, 2, 3, 4, 5]

In [63]:
x[-2]=100
print(x)
x
y1

[1, 2, 3, 100, 5]

[1, 2, 3, 4, 5]

In [64]:
x[-2]=100
print(x)
print(1)
print(y)
print(2)
x
print(3)
y
print(4)
y

[1, 2, 3, 100, 5]
1
[1, 2, 3, 100, 5]
2
3
4

[1, 2, 3, 100, 5]

In [65]:
# Alternatively

In [66]:
x= [1,2,3,4, 5]
y=x[:]
x[-2] = 100
print(x)
print(y)

[1, 2, 3, 100, 5]
[1, 2, 3, 4, 5]

In [67]:
### Operating System Library
### These commands are useful to navigate on your
### Storage device to find program and data files

### getcwd => Get Current Working Directory
### chdir => change the working director

In [68]:
import os
os.chdir('/Users/aruvins/Desktop/Fordham/Fall 2025/Computational Finance')
os.getcwd()

'/Users/aruvins/Desktop/Fordham/Fall 2025/Computational Finance'

In [69]:
import numpy as np

stocks= ['AAPL' ,'KO', 'WMT', 'NVDA' , 'FB']

returns=np.array([0.3042,0.1374,0.0115,1.1603,0.2171])

weights= np.array([0.25, 0.2 , 0.15 , 0.16 , 0.24])

print(np.dot(returns, weights))
returns[returns < 0.15]

# max_ind= np.where(return_contributions == return_contributions.max())
# max_ind[0][0]

# stocks[max_ind[0][0]]

0.34300700000000006

array([0.1374, 0.0115])