In this class we will cover,

- Working with Pandas DataFrames
- Accessing DataFrames, Null Value and Dropping Null Value
- pd.DataFrame() methods (Filtering, Sorting, Pivot table, Add Column, Summary statistics, Subset, etc.)

**Importing Required Libraries**

In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Code To Change Working Directory**

In [100]:
import os
os.chdir('../Computational Finance')
os.getcwd()

'/Users/aruvins/Desktop/Fordham/Fall 2025/Computational Finance'

# **Working with Pandas DataFrames**

**Reading the Dataset**

Pandas `head()` and `tail()` Methods

- The `head()` and `tail()` methods in Pandas are used to view a subset of rows from the beginning or end of a DataFrame, respectively.
  - `head(n)`: Returns the first `n` rows of the DataFrame. By default, `n=5`.
  - `tail(n)`: Returns the last `n` rows of the DataFrame. By default, `n=5`.

In [101]:
#1 Let us import a data on 200 stocks
stocks=pd.read_csv('dataFiles/Stocks_profile_week4.csv') 
stocks.head()

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
0,CPAH,Technology,Software—Application,3.480000,74600,0.010135,2.245462e+07,0.010135
1,NBRV,Healthcare,Biotechnology,1.790000,3468270,0.010135,6.334034e+07,0.010135
2,VCRA,Technology,Communication Equipment,43.950001,722431,0.143875,1.443100e+09,0.143875
3,MKSI,Technology,Scientific & Technical Instruments,153.000000,590971,0.573986,8.448984e+09,0.573986
4,RHI,Industrials,Staffing & Employment Services,76.919998,1287779,0.105435,8.701564e+09,0.105435

In [102]:
stocks.tail()

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
195,FE,Utilities,Utilities—Diversified,33.209999,5516490,0.011516,1.804017e+10,0.011516
196,USWS,Energy,Oil & Gas Midstream,1.440000,3676235,0.011656,1.066598e+08,0.011656
197,VRSK,Industrials,Consulting Services,168.119995,1922759,0.147464,2.736852e+10,0.147464
198,APLS,Healthcare,Biotechnology,48.810001,737613,0.234901,3.923122e+09,0.234901
199,VCVC,Financial Services,Shell Companies,10.600000,739586,0.045865,2.666563e+08,0.045865

## **Null Values**

In [103]:
#Let us check for missing values
stocks.isnull().sum()

symbol          0
sector          1
industry        1
price           0
avg_volume      0
avg_spread      0
market_cap      0
avg_spread.1    7
dtype: int64

## **Dropping Null values**

In [104]:
# we can drop missing values using the following comand
stocks_=stocks.dropna()
print(stocks.shape, stocks_.shape)

(200, 8) (192, 8)

In [105]:
#rename replace stocks by stocks_
stocks=stocks_

# **pd.DataFrame() Methods**

## **sort_values()**

The `sort_values()` method in Pandas is used to sort a DataFrame by one or more columns.

In [106]:
#WE can sort the data by sector like this
by_sector= stocks.sort_values('sector')
by_sector.head(10)

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
81,JHX,Basic Materials,Building Materials,28.969999,37828,0.178729,1.286753e+10,0.178729
167,LAC,Basic Materials,Other Industrial Metals & Mining,14.910000,6719695,0.019649,1.780074e+09,0.019649
32,SEED,Basic Materials,Agricultural Inputs,21.129999,201979,0.425445,1.201467e+08,0.425445
72,IAG,Basic Materials,Gold,3.070000,5298035,0.010010,1.459221e+09,0.010010
34,DOW,Basic Materials,Chemicals,62.910000,3883643,0.027066,4.688210e+10,0.027066
61,EGO,Basic Materials,Gold,11.340000,1839050,0.010323,1.983722e+09,0.010323
6,PTNR,Communication Services,Telecom Services,4.900000,5321,0.085296,9.002347e+08,0.085296
190,LOV,Communication Services,Internet Content & Information,5.050000,65729,0.067383,1.313524e+08,0.067383
132,LIVX,Communication Services,Entertainment,3.800000,980786,0.015822,2.868186e+08,0.015822
82,BIDU,Communication Services,Internet Content & Information,261.720001,15958337,0.386136,8.926632e+10,0.386136

Sort by a single column in descending order: `df.sort_values(by='column_name', ascending=False)`

In [107]:
#Note that the sorting is ascending alphabetical order. If we want to sort in alphabetical descending order we do the following:
by_sector= stocks.sort_values('sector', ascending = False)
by_sector.head(10)

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
173,HE,Utilities,Utilities—Regulated Electric,37.240002,567132,0.053229,4.065905e+09,0.053229
67,ES,Utilities,Utilities—Regulated Electric,80.660004,2149467,0.066848,2.766665e+10,0.066848
195,FE,Utilities,Utilities—Diversified,33.209999,5516490,0.011516,1.804017e+10,0.011516
33,RGCO,Utilities,Utilities—Regulated Gas,23.299999,17575,0.368738,1.914197e+08,0.368738
119,SJW,Utilities,Utilities—Regulated Water,62.560001,191183,0.424575,1.789179e+09,0.424575
109,YORW,Utilities,Utilities—Regulated Water,42.770000,53908,0.437920,5.581467e+08,0.437920
25,PEG,Utilities,Utilities—Diversified,56.259998,2302709,0.042702,2.841654e+10,0.042702
104,NTIP,Technology,Communication Equipment,3.000000,49256,0.045668,7.209923e+07,0.045668
28,INVE,Technology,Computer Hardware,10.970000,166966,0.123583,1.976813e+08,0.123583
143,NICE,Technology,Software—Application,221.399994,499870,0.641921,1.388893e+10,0.641921

In [108]:
#We can also sort the data by two columns. Her we sort the data by sector and avg_volume
by_sector_volume= stocks.sort_values(['sector', 'avg_volume'], ascending =[True, False] )
by_sector_volume.head(10)

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
167,LAC,Basic Materials,Other Industrial Metals & Mining,14.910000,6719695,0.019649,1.780074e+09,0.019649
72,IAG,Basic Materials,Gold,3.070000,5298035,0.010010,1.459221e+09,0.010010
34,DOW,Basic Materials,Chemicals,62.910000,3883643,0.027066,4.688210e+10,0.027066
61,EGO,Basic Materials,Gold,11.340000,1839050,0.010323,1.983722e+09,0.010323
32,SEED,Basic Materials,Agricultural Inputs,21.129999,201979,0.425445,1.201467e+08,0.425445
81,JHX,Basic Materials,Building Materials,28.969999,37828,0.178729,1.286753e+10,0.178729
82,BIDU,Communication Services,Internet Content & Information,261.720001,15958337,0.386136,8.926632e+10,0.386136
172,VG,Communication Services,Telecom Services,12.480000,4201110,0.010992,3.109168e+09,0.010992
132,LIVX,Communication Services,Entertainment,3.800000,980786,0.015822,2.868186e+08,0.015822
190,LOV,Communication Services,Internet Content & Information,5.050000,65729,0.067383,1.313524e+08,0.067383

## **Accessing Column Data**

In [109]:
## if you want to zoom on certain column, 
stocks ['price']

0        3.480000
1        1.790000
2       43.950001
3      153.000000
4       76.919998
          ...
195     33.209999
196      1.440000
197    168.119995
198     48.810001
199     10.600000
Name: price, Length: 192, dtype: float64

In [110]:
##subseting DataFrame by extracting specific columns

## **DataFrame Subset**

In [111]:
col_subset= stocks [['symbol','price' , 'avg_volume']]
col_subset.head()

  symbol       price  avg_volume
0   CPAH    3.480000       74600
1   NBRV    1.790000     3468270
2   VCRA   43.950001      722431
3   MKSI  153.000000      590971
4    RHI   76.919998     1287779

Subset using Boolean Condition, the code below creates a **subset of the DataFrame** `stocks` containing only the rows where the `price` column has values greater than 100:

In [112]:
##Subsetting by Rows.
price_mth_100 = stocks[ stocks['price'] > 100 ]
print( stocks.shape, price_mth_100.shape )

(192, 8) (20, 8)

In [113]:
price_mth_100

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
3,MKSI,Technology,Scientific & Technical Instruments,153.000000,590971,0.573986,8.448984e+09,0.573986
18,TXN,Technology,Semiconductors,167.940002,5680740,0.101548,1.550000e+11,0.101548
44,ZLAB,Healthcare,Biotechnology,137.250000,345571,0.657891,1.215930e+10,0.657891
50,NVCR,Healthcare,Medical Instruments & Supplies,129.279999,1206323,0.500961,1.323979e+10,0.500961
52,CIGI,Real Estate,Real Estate Services,104.849998,67271,0.621865,4.221236e+09,0.621865
77,NXPI,Technology,Semiconductors,180.899994,5076308,0.312496,5.011078e+10,0.312496
82,BIDU,Communication Services,Internet Content & Information,261.720001,15958337,0.386136,8.926632e+10,0.386136
93,NKE,Consumer Cyclical,Footwear & Accessories,133.350006,5956999,0.050402,2.100000e+11,0.050402
99,CDW,Technology,Information Technology Services,154.479996,891174,0.211006,2.178030e+10,0.211006
108,AMT,Real Estate,REIT—Specialty,200.000000,3455754,0.149794,8.887689e+10,0.149794
113,EXAS,Healthcare,Diagnostics & Research,121.639999,3017998,0.347735,2.056849e+10,0.347735
126,HRC,Healthcare,Medical Instruments & Supplies,104.180000,335439,0.183866,6.913598e+09,0.183866
139,RBC,Industrials,Specialty Industrial Machinery,138.699997,445892,0.384970,5.633846e+09,0.384970
143,NICE,Technology,Software—Application,221.399994,499870,0.641921,1.388893e+10,0.641921
176,UTHR,Healthcare,Biotechnology,164.339996,502195,0.611590,7.320416e+09,0.611590
185,VRTX,Healthcare,Biotechnology,211.979996,1704827,0.259628,5.510633e+10,0.259628
186,SPG,Real Estate,REIT—Retail,111.169998,4575100,0.089718,3.651950e+10,0.089718
192,FRPT,Consumer Defensive,Packaged Foods,139.360001,534759,0.574797,6.011877e+09,0.574797
194,TER,Technology,Semiconductor Equipment & Materials,113.900002,3451640,0.162955,1.898653e+10,0.162955
197,VRSK,Industrials,Consulting Services,168.119995,1922759,0.147464,2.736852e+10,0.147464

## **Filtering the DataFrame**

In [114]:
#We can filter data based on sector. Here is an example
Consumer_Cyc = stocks[ stocks['sector'] ==  'Consumer Cyclical' ]
Consumer_Cyc

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
5,CSV,Consumer Cyclical,Personal Services,34.060001,114940,0.173780,6.129001e+08,0.173780
49,CAL,Consumer Cyclical,Footwear & Accessories,17.400000,370520,0.082436,6.595776e+08,0.082436
55,KNDI,Consumer Cyclical,Auto Parts,6.100000,5089359,0.011300,4.415031e+08,0.011300
57,PLYA,Consumer Cyclical,Resorts & Casinos,6.850000,2487091,0.011671,1.123603e+09,0.011671
62,PRTY,Consumer Cyclical,Specialty Retail,7.460000,2621153,0.013812,8.254203e+08,0.013812
93,NKE,Consumer Cyclical,Footwear & Accessories,133.350006,5956999,0.050402,2.100000e+11,0.050402
110,AAN,Consumer Cyclical,Specialty Retail,23.959999,306840,0.071192,8.195496e+08,0.071192
136,PZZA,Consumer Cyclical,Restaurants,82.669998,616561,0.281762,2.722167e+09,0.281762
141,TILE,Consumer Cyclical,"Furnishings, Fixtures & Appliances",12.830000,801960,0.035947,7.523758e+08,0.035947

### **Filtering with Multiple Condition**

In [115]:
##what if we have multiple conditions. 
#Suppose we want to select Consumer Cyclical stocks with a price > 100.
#we can write each condition separately and then include the condition
price_mth_100 = stocks['price'] > 100
vol_mth_3m = stocks['avg_volume'] > 3000000

In [116]:
stocks[vol_mth_3m  & price_mth_100]

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
18,TXN,Technology,Semiconductors,167.940002,5680740,0.101548,1.550000e+11,0.101548
77,NXPI,Technology,Semiconductors,180.899994,5076308,0.312496,5.011078e+10,0.312496
82,BIDU,Communication Services,Internet Content & Information,261.720001,15958337,0.386136,8.926632e+10,0.386136
93,NKE,Consumer Cyclical,Footwear & Accessories,133.350006,5956999,0.050402,2.100000e+11,0.050402
108,AMT,Real Estate,REIT—Specialty,200.000000,3455754,0.149794,8.887689e+10,0.149794
113,EXAS,Healthcare,Diagnostics & Research,121.639999,3017998,0.347735,2.056849e+10,0.347735
186,SPG,Real Estate,REIT—Retail,111.169998,4575100,0.089718,3.651950e+10,0.089718
194,TER,Technology,Semiconductor Equipment & Materials,113.900002,3451640,0.162955,1.898653e+10,0.162955

In [117]:
price_mth_100 = stocks['price'] > 100
HC = stocks['sector'] == 'Healthcare'

both_price_HC = stocks[price_mth_100 & HC]
both_price_HC

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
44,ZLAB,Healthcare,Biotechnology,137.250000,345571,0.657891,1.215930e+10,0.657891
50,NVCR,Healthcare,Medical Instruments & Supplies,129.279999,1206323,0.500961,1.323979e+10,0.500961
113,EXAS,Healthcare,Diagnostics & Research,121.639999,3017998,0.347735,2.056849e+10,0.347735
126,HRC,Healthcare,Medical Instruments & Supplies,104.180000,335439,0.183866,6.913598e+09,0.183866
176,UTHR,Healthcare,Biotechnology,164.339996,502195,0.611590,7.320416e+09,0.611590
185,VRTX,Healthcare,Biotechnology,211.979996,1704827,0.259628,5.510633e+10,0.259628

The code below creates a **subset of the DataFrame** `stocks` containing only the rows where the `sector` column matches either "Real Estate" or "Healthcare":

In [118]:
selected_sectors = stocks[stocks['sector'].isin (['Real Estate', 'Healthcare'])]
selected_sectors.head(10)

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1
1,NBRV,Healthcare,Biotechnology,1.790000,3468270,0.010135,6.334034e+07,0.010135
7,GRCL,Healthcare,Biotechnology,21.020000,30016,0.392675,1.378138e+09,0.392675
8,SLDB,Healthcare,Drug Manufacturers—Specialty & Generic,9.400000,866541,0.049582,5.682238e+08,0.049582
13,RPRX,Healthcare,Biotechnology,42.540001,3439577,0.076204,2.582650e+10,0.076204
14,TCON,Healthcare,Biotechnology,8.220000,654909,0.075630,1.272356e+08,0.075630
17,NNN,Real Estate,REIT—Retail,42.599998,766204,0.047296,7.466625e+09,0.047296
21,HGSH,Real Estate,Real Estate—Development,1.710000,95469,0.054099,3.851775e+07,0.054099
24,RMAX,Real Estate,Real Estate Services,38.950001,117627,0.273102,1.212740e+09,0.273102
43,NTST,Real Estate,REIT—Retail,17.540001,243954,0.067664,4.979422e+08,0.067664
44,ZLAB,Healthcare,Biotechnology,137.250000,345571,0.657891,1.215930e+10,0.657891

## **Adding New Columns**

In [119]:
##Creating new columns
#Suppose we want to create a column that gives average volumn in dollars instead of shares
stocks['dollar_volume'] = stocks['price']* stocks['avg_volume']
stocks.head()

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1,dollar_volume
0,CPAH,Technology,Software—Application,3.480000,74600,0.010135,2.245462e+07,0.010135,2.596080e+05
1,NBRV,Healthcare,Biotechnology,1.790000,3468270,0.010135,6.334034e+07,0.010135,6.208203e+06
2,VCRA,Technology,Communication Equipment,43.950001,722431,0.143875,1.443100e+09,0.143875,3.175084e+07
3,MKSI,Technology,Scientific & Technical Instruments,153.000000,590971,0.573986,8.448984e+09,0.573986,9.041856e+07
4,RHI,Industrials,Staffing & Employment Services,76.919998,1287779,0.105435,8.701564e+09,0.105435,9.905596e+07

In [120]:
#we can also do
stocks['dollar_volume'] = stocks.price* stocks.avg_volume
stocks.head()

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1,dollar_volume
0,CPAH,Technology,Software—Application,3.480000,74600,0.010135,2.245462e+07,0.010135,2.596080e+05
1,NBRV,Healthcare,Biotechnology,1.790000,3468270,0.010135,6.334034e+07,0.010135,6.208203e+06
2,VCRA,Technology,Communication Equipment,43.950001,722431,0.143875,1.443100e+09,0.143875,3.175084e+07
3,MKSI,Technology,Scientific & Technical Instruments,153.000000,590971,0.573986,8.448984e+09,0.573986,9.041856e+07
4,RHI,Industrials,Staffing & Employment Services,76.919998,1287779,0.105435,8.701564e+09,0.105435,9.905596e+07

## **Statistics of Data columns**

### **Mean()**

In [121]:
price_mean = stocks['price'].mean()
price_mean

np.float64(36.738206711187495)

### **Median()**

In [122]:
price_median = stocks['price'].median()
price_median

np.float64(17.58000088)

In [123]:
#What does it mean that the mean is higher than the median here?

### **Minimum**

In [124]:
price_min = stocks['price'].min()
price_min

np.float64(1.440000057)

### **Maximum**

In [125]:
price_max = stocks['price'].max()
price_max

np.float64(261.7200012)

### **Quantile of the data**

In [126]:
price_Q75 = stocks['price'].quantile(0.75)
price_Q75

np.float64(42.6274986225)

In [127]:
price_Q25 = stocks['price'].quantile(0.25)
price_Q25

np.float64(8.77999973275)

In [128]:
price_std = stocks['price'].std()
price_std

np.float64(47.444028955008804)

### **Summary Stats.**

In [129]:
price_smry= stocks['price'].describe()
price_smry

count    192.000000
mean      36.738207
std       47.444029
min        1.440000
25%        8.780000
50%       17.580001
75%       42.627499
max      261.720001
Name: price, dtype: float64

In [130]:
type(price_smry)

pandas.core.series.Series

In [131]:
stocks[['price', 'avg_spread']].describe()

            price  avg_spread
count  192.000000  192.000000
mean    36.738207    0.161268
std     47.444029    0.190649
min      1.440000    0.010010
25%      8.780000    0.037192
50%     17.580001    0.077293
75%     42.627499    0.214398
max    261.720001    0.922505

## **pd.groupby() method**

- The `groupby()` method in Pandas is used to split data into groups based on some criteria, making it easy to perform aggregate calculations for each group.
- It’s especially useful when working with categorical data and helps to summarize, analyze, and manipulate data efficiently.
- Syntax: df.groupby('column_name').aggregation_method()
  - aggregation_method (e.g., `mean()`, `sum()`, `count()`, `max()`, etc.)
- The code below groups the `stocks` DataFrame by the `sector` column and calculates the **mean** of the `price` and `avg_spread` columns within each sector.

In [132]:
stocks.groupby('sector')[['price', 'avg_spread']].mean()

                            price  avg_spread
sector
Basic Materials         23.721666    0.111870
Communication Services  57.590000    0.113126
Consumer Cyclical       36.075556    0.081367
Consumer Defensive      55.925000    0.365644
Energy                  12.368889    0.038767
Financial Services      20.523556    0.175172
Healthcare              42.221261    0.188207
Industrials             47.299411    0.177953
Real Estate             43.829687    0.111704
Technology              47.584655    0.149070
Utilities               48.000001    0.200790

## **Counting Values**

In [133]:
stocks['sector'].value_counts()

sector
Financial Services        50
Healthcare                38
Technology                29
Industrials               17
Real Estate               16
Consumer Cyclical          9
Energy                     9
Utilities                  7
Consumer Defensive         6
Basic Materials            6
Communication Services     5
Name: count, dtype: int64

The code below calculates the **relative frequency** of each unique value in the `sector` column of the `stocks` DataFrame, expressing it as a percentage of the total count:

In [134]:
stocks['sector'].value_counts(normalize=True)

sector
Financial Services        0.260417
Healthcare                0.197917
Technology                0.151042
Industrials               0.088542
Real Estate               0.083333
Consumer Cyclical         0.046875
Energy                    0.046875
Utilities                 0.036458
Consumer Defensive        0.031250
Basic Materials           0.031250
Communication Services    0.026042
Name: proportion, dtype: float64

## **Pivot Table**

- The `pd.pivot_table()` function in Pandas is used to create a **pivot table**, which is a data summarization tool that reorganizes and aggregates data to help analyze relationships and trends.
- Pivot tables are particularly useful for exploring multidimensional data, especially when looking at averages, counts, sums, or other aggregate metrics grouped by one or more categories.
- Key Parameters of `pd.pivot_table()`:
  1. `data`: The DataFrame to be used for the pivot table.
  2. `values`: The column(s) to aggregate (e.g., `price`, `sales`).
  3. `index`: The column(s) to group by rows in the pivot table.
  4. `columns`: The column(s) to group by columns in the pivot table.
  5. `aggfunc`: The aggregation function to apply to the data (e.g., `mean`, `sum`, `count`). The default is `mean`.

In [135]:
#Pivot Tables
stocks.pivot_table(values='price', index='sector')  
## by default it summarize the mean

                            price
sector
Basic Materials         23.721666
Communication Services  57.590000
Consumer Cyclical       36.075556
Consumer Defensive      55.925000
Energy                  12.368889
Financial Services      20.523556
Healthcare              42.221261
Industrials             47.299411
Real Estate             43.829687
Technology              47.584655
Utilities               48.000001

In [136]:
import numpy as np
stocks.pivot_table(values='price', index='sector' , aggfunc = np.median)

/var/folders/h0/s41cy5xj0qx08m983bv4kc3c0000gn/T/ipykernel_4870/3317722034.py:2: FutureWarning: The provided callable <function median at 0x10502fee0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  stocks.pivot_table(values='price', index='sector' , aggfunc = np.median)

                            price
sector
Basic Materials         18.020000
Communication Services   5.050000
Consumer Cyclical       17.400000
Consumer Defensive      41.940001
Energy                   8.940000
Financial Services      15.377500
Healthcare              14.500000
Industrials             26.610001
Real Estate             23.655000
Technology              16.905001
Utilities               42.770000

In [137]:
import numpy as np
stocks.pivot_table(values='price', index='sector' , aggfunc = [np.mean, np.median])

/var/folders/h0/s41cy5xj0qx08m983bv4kc3c0000gn/T/ipykernel_4870/2295277351.py:2: FutureWarning: The provided callable <function mean at 0x1045739d0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  stocks.pivot_table(values='price', index='sector' , aggfunc = [np.mean, np.median])
/var/folders/h0/s41cy5xj0qx08m983bv4kc3c0000gn/T/ipykernel_4870/2295277351.py:2: FutureWarning: The provided callable <function median at 0x10502fee0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  stocks.pivot_table(values='price', index='sector' , aggfunc = [np.mean, np.median])

                             mean     median
                            price      price
sector
Basic Materials         23.721666  18.020000
Communication Services  57.590000   5.050000
Consumer Cyclical       36.075556  17.400000
Consumer Defensive      55.925000  41.940001
Energy                  12.368889   8.940000
Financial Services      20.523556  15.377500
Healthcare              42.221261  14.500000
Industrials             47.299411  26.610001
Real Estate             43.829687  23.655000
Technology              47.584655  16.905001
Utilities               48.000001  42.770000

### **Think?**

How can we create two new categorical variables representing whether values in the `price` and `avg_spread` columns are **above or below their median?**

In [138]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 192 entries, 0 to 199
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   symbol         192 non-null    object
 1   sector         192 non-null    object
 2   industry       192 non-null    object
 3   price          192 non-null    float64
 4   avg_volume     192 non-null    int64
 5   avg_spread     192 non-null    float64
 6   market_cap     192 non-null    float64
 7   avg_spread.1   192 non-null    float64
 8   dollar_volume  192 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 15.0+ KB

In [139]:
median_price = stocks['price'].median()
stocks['price_level']= np.where(stocks['price'] > median_price ,'high','low')
stocks['price_level'].value_counts()

price_level
low     96
high    96
Name: count, dtype: int64

In [140]:
median_spread = stocks['avg_spread'].median()
stocks['spread_level']= np.where(stocks['avg_spread'] > median_spread ,'high','low')
stocks['spread_level'].value_counts()

spread_level
low     96
high    96
Name: count, dtype: int64

In [141]:
stocks.head(10)

,symbol,sector,industry,price,avg_volume,avg_spread,market_cap,avg_spread.1,dollar_volume,price_level,spread_level
0,CPAH,Technology,Software—Application,3.480000,74600,0.010135,2.245462e+07,0.010135,2.596080e+05,low,low
1,NBRV,Healthcare,Biotechnology,1.790000,3468270,0.010135,6.334034e+07,0.010135,6.208203e+06,low,low
2,VCRA,Technology,Communication Equipment,43.950001,722431,0.143875,1.443100e+09,0.143875,3.175084e+07,high,high
3,MKSI,Technology,Scientific & Technical Instruments,153.000000,590971,0.573986,8.448984e+09,0.573986,9.041856e+07,high,high
4,RHI,Industrials,Staffing & Employment Services,76.919998,1287779,0.105435,8.701564e+09,0.105435,9.905596e+07,high,high
5,CSV,Consumer Cyclical,Personal Services,34.060001,114940,0.173780,6.129001e+08,0.173780,3.914857e+06,high,high
6,PTNR,Communication Services,Telecom Services,4.900000,5321,0.085296,9.002347e+08,0.085296,2.607290e+04,low,high
7,GRCL,Healthcare,Biotechnology,21.020000,30016,0.392675,1.378138e+09,0.392675,6.309363e+05,high,high
8,SLDB,Healthcare,Drug Manufacturers—Specialty & Generic,9.400000,866541,0.049582,5.682238e+08,0.049582,8.145485e+06,low,low
9,AL,Industrials,Rental & Leasing Services,47.990002,668221,0.110489,5.464809e+09,0.110489,3.206793e+07,high,high

In [142]:
stocks.pivot_table(values=['market_cap'], index='price_level' ,columns='spread_level', aggfunc= np.median )

/var/folders/h0/s41cy5xj0qx08m983bv4kc3c0000gn/T/ipykernel_4870/2700152642.py:1: FutureWarning: The provided callable <function median at 0x10502fee0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  stocks.pivot_table(values=['market_cap'], index='price_level' ,columns='spread_level', aggfunc= np.median )

                market_cap
spread_level          high           low
price_level
high          2.018097e+09  7.466625e+09
low           1.652562e+08  3.051820e+08

In [143]:
stocks.pivot_table(values=['avg_volume'], index='price_level' ,columns='spread_level', aggfunc= np.median )

/var/folders/h0/s41cy5xj0qx08m983bv4kc3c0000gn/T/ipykernel_4870/2754013620.py:1: FutureWarning: The provided callable <function median at 0x10502fee0> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  stocks.pivot_table(values=['avg_volume'], index='price_level' ,columns='spread_level', aggfunc= np.median )

             avg_volume
spread_level       high        low
price_level
high           335439.0  1380228.0
low             64831.0   654909.0

Try to make an inference from the above two tables. Think what can you learn from it?

# **Task**

In [144]:
## Let us look at these stock data
dow9= pd.read_csv('dataFiles/week-4-dow9_stcocks.csv')
dow9.head(3)

   Unnamed: 0      date symbol  price    return     volume  shares_out
0         482  20120131   AMGN  67.93  0.057935  1435603.0    795600.0
1         483  20120229   AMGN  68.01  0.006477  1192389.0    791432.0
2         484  20120330   AMGN  67.97 -0.000588   943340.0    781100.0

In [145]:
dow9.tail(3)

      Unnamed: 0      date symbol      price    return     volume  shares_out
1078        3586  20211029    CRM  299.69000  0.104970   908745.0    979000.0
1079        3587  20211130    CRM  284.95999 -0.049151   992961.0    979000.0
1080        3588  20211231    CRM  254.13000 -0.108191  1498136.0    985000.0

In [146]:
dow9.shape

(1081, 7)

## **Questions:**

1. **Data**
   - How many unique symbols are present in the dataset?
   - For each symbol, how many days of data are available?
2. **Market Capitalization**
   - What is the market capitalization per symbol?
   - Can we create a column named `market_cap` that contains the market cap values for each symbol?
3. **Monthly Returns Calculation**
   - How can we create a DataFrame that includes a monthly returns column for each symbol, named as `symbol_ret` (e.g., `AMGN_ret`)?
   - How would this new DataFrame differ in structure, having 120 rows for monthly returns and a column for each of the 9 symbols?
   - Can we include the date and 9 columns for the respective returns in this DataFrame?